<a href="https://colab.research.google.com/github/mgmeti/Data-Analysis/blob/main/data_Analysis_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# **pd.merge()**

In [ ]:
df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})

df2 = pd.DataFrame({'key':['a', 'b', 'd'], 'data2': range(3)})

In [ ]:
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2

In [ ]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [ ]:
df3 = pd.DataFrame({'lkey':['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})

df4 = pd.DataFrame({'rkey':['a', 'b', 'd'], 'data2': range(3)})

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [ ]:
pd.merge(df1, df2, how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [ ]:
pd.merge(df1, df2, how='left')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

In [ ]:
pd.merge(df1, df2, how='right')

  key  data1  data2
0   a    2.0      0
1   a    4.0      0
2   a    5.0      0
3   b    0.0      1
4   b    1.0      1
5   b    6.0      1
6   d    NaN      2

In [ ]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [ ]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [ ]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [ ]:
left = pd.DataFrame({'key1':['foo', 'foo', 'bar'],
                  'key2':['one', 'two', 'one'],
                  'lval':[1, 2, 3]})

In [ ]:
right = pd.DataFrame({'key1':['foo', 'foo', 'bar', 'bar'],
                  'key2':['one', 'one', 'one', 'two'],
                  'lval':[4, 5, 6, 7]})

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer' )

  key1 key2  lval_x  lval_y
0  foo  one     1.0     4.0
1  foo  one     1.0     5.0
2  foo  two     2.0     NaN
3  bar  one     3.0     6.0
4  bar  two     NaN     7.0

In [ ]:
pd.merge(left, right, on='key1')

  key1 key2_x  lval_x key2_y  lval_y
0  foo    one       1    one       4
1  foo    one       1    one       5
2  foo    two       2    one       4
3  foo    two       2    one       5
4  bar    one       3    one       6
5  bar    one       3    two       7

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

  key1 key2_left  lval_left key2_right  lval_right
0  foo       one          1        one           4
1  foo       one          1        one           5
2  foo       two          2        one           4
3  foo       two          2        one           5
4  bar       one          3        one           6
5  bar       one          3        two           7

In [ ]:
left1 = pd.DataFrame({'key':['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val':[3.5, 7]}, index=['a', 'b'])

In [ ]:
print(left1)
print(right1)

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5
   group_val
a        3.5
b        7.0

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN

In [ ]:
import numpy as np

In [ ]:
 lefth = pd.DataFrame({'key1':['chennai', 'chennai', 'chennai', 'hyderabad', 'hyderabad'],
                       'key2':[2000, 2001, 2002, 2001, 2002],
                       'data': np.arange(5.)})

In [ ]:
righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                      index=[['hyderabad', 'hyderabad', 'chennai', 'chennai', 'chennai','chennai'],
                             [2001, 2000, 2000, 2000, 2001, 2002]],
                      columns=['event1', 'event2'])

In [ ]:
print(lefth)
print(righth)

        key1  key2  data
0    chennai  2000   0.0
1    chennai  2001   1.0
2    chennai  2002   2.0
3  hyderabad  2001   3.0
4  hyderabad  2002   4.0
                event1  event2
hyderabad 2001       0       1
          2000       2       3
chennai   2000       4       5
          2000       6       7
          2001       8       9
          2002      10      11

In [ ]:
pd.merge(lefth, righth, left_on=['key1','key2'], right_index=True)

        key1  key2  data  event1  event2
0    chennai  2000   0.0       4       5
0    chennai  2000   0.0       6       7
1    chennai  2001   1.0       8       9
2    chennai  2002   2.0      10      11
3  hyderabad  2001   3.0       0       1

In [ ]:
pd.merge(lefth, righth, left_on=['key1','key2'], right_index=True, how='outer')

        key1  key2  data  event1  event2
0    chennai  2000   0.0     4.0     5.0
0    chennai  2000   0.0     6.0     7.0
1    chennai  2001   1.0     8.0     9.0
2    chennai  2002   2.0    10.0    11.0
3  hyderabad  2001   3.0     0.0     1.0
4  hyderabad  2002   4.0     NaN     NaN
4  hyderabad  2000   NaN     2.0     3.0

In [ ]:
left2 = pd.DataFrame([[1, 2], [3, 4], [5, 6]], 
                     index=['a', 'c', 'e'],
                     columns=['chennai', 'hyderabad'])

In [ ]:
right2 = pd.DataFrame([[7, 8], [9, 10], [11, 12], [13, 14]], 
                     index=['b', 'c', 'd', 'e'],
                     columns=['bangalore', 'pune'])

In [ ]:
print(left2)
print(right2)

   chennai  hyderabad
a        1          2
c        3          4
e        5          6
   bangalore  pune
b          7     8
c          9    10
d         11    12
e         13    14

In [ ]:
pd.merge(left2, right2, how='outer', left_index=True, right_index=True)

   chennai  hyderabad  bangalore  pune
a      1.0        2.0        NaN   NaN
b      NaN        NaN        7.0   8.0
c      3.0        4.0        9.0  10.0
d      NaN        NaN       11.0  12.0
e      5.0        6.0       13.0  14.0

In [ ]:
left2.join(right2)

   chennai  hyderabad  bangalore  pune
a        1          2        NaN   NaN
c        3          4        9.0  10.0
e        5          6       13.0  14.0

In [ ]:
left2.join(right2, how='outer')

   chennai  hyderabad  bangalore  pune
a      1.0        2.0        NaN   NaN
b      NaN        NaN        7.0   8.0
c      3.0        4.0        9.0  10.0
d      NaN        NaN       11.0  12.0
e      5.0        6.0       13.0  14.0

# **pd.concat()**

In [ ]:
s1 =  pd.Series([0, 1], index=['a','b'])
s2 =  pd.Series([2, 3, 4], index=['c','d','e'])
s3 =  pd.Series([5, 6], index=['f','g'])

In [ ]:
# by default axis=0
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [ ]:
pd.concat([s1, s2, s3], axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [ ]:
s4 = pd.concat([s1 * 5, s3])

In [ ]:
s4

a    0
b    5
f    5
g    6
dtype: int64

In [ ]:
pd.concat([s1, s4], axis=1)

     0  1
a  0.0  0
b  1.0  5
f  NaN  5
g  NaN  6

In [ ]:
pd.concat([s1, s4], axis=1, join='inner')

   0  1
a  0  0
b  1  5

In [ ]:
result = pd.concat([s1, s2, s3], keys=['one', 'two', 'three'])

In [ ]:
result

one    a    0
       b    1
two    c    2
       d    3
       e    4
three  f    5
       g    6
dtype: int64

In [ ]:
result.unstack()

         a    b    c    d    e    f    g
one    0.0  1.0  NaN  NaN  NaN  NaN  NaN
two    NaN  NaN  2.0  3.0  4.0  NaN  NaN
three  NaN  NaN  NaN  NaN  NaN  5.0  6.0

In [ ]:
result1 = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])

In [ ]:
result1

one    a    0
       b    1
two    a    0
       b    1
three  f    5
       g    6
dtype: int64

In [ ]:
result1.unstack()

         a    b    f    g
one    0.0  1.0  NaN  NaN
two    0.0  1.0  NaN  NaN
three  NaN  NaN  5.0  6.0

In [ ]:
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2),
                   index=['a','b', 'c'],
                   columns=['one', 'two'])

In [ ]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2),
                   index=['a', 'c'],
                   columns=['three', 'four'])

In [ ]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [ ]:
pd.concat({'level1': df1, 'level2':df2}, axis=1)

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [ ]:
pd.concat({'level1': df2, 'level2':df1}, axis=1)

  level1      level2
   three four    one two
a    5.0  6.0      0   1
c    7.0  8.0      4   5
b    NaN  NaN      2   3

In [ ]:
pd.concat({'level1': df1, 'level2':df2}, axis=1, names=['upper', 'lower'])

upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

Combining Data with Overlap

In [ ]:
a  = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
               index=['f', 'e', 'd', 'c', 'b', 'a'])

In [ ]:
b  = pd.Series(np.arange(len(a), dtype=np.float64),
               index=['f', 'e', 'd', 'c', 'b', 'a'])

In [ ]:
b[-1] = np.nan

In [ ]:
print(a)
print(b)

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64
f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [ ]:
np.where(pd.isnull(a), b, a) #vectorised if-else

array([0. , 2.5, 2. , 3.5, 4.5, nan])

In [ ]:
print(b[:-2])
print(a[2:])

f    0.0
e    1.0
d    2.0
c    3.0
dtype: float64
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [ ]:
# vectorise if-else and data alignment by using combine_first
# for dataframes, this act as 'patching' missing data in the calling object
b[:-2].combine_first(a[2:])

a    NaN
b    4.5
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

In [ ]:
df1 = pd.DataFrame({'a':[1., np.nan, 5., np.nan],
                    'b':[np.nan, 2., np.nan, 6.],
                    'c': range(2, 18, 4)})

In [ ]:
df2 = pd.DataFrame({'a':[5., 4., np.nan, 3., 7.],
                    'b':[np.nan, 3., 4., 6., 8.],
                    })

In [ ]:
print(df1)
print(df2)

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14
     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [ ]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

Replacing Values

In [2]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [3]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

here -999 values might be sentinal values for missing data.
<br>
pandas understands NA.

In [5]:
import numpy as np

In [6]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [8]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [9]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [12]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [13]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                index=['Ohio', 'Colorado', 'New York'],
                columns=['one', 'two', 'three', 'four'])

In [14]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [17]:
data.index.map(str.upper)

Index(['OHIO', 'COLORADO', 'NEW YORK'], dtype='object')

In [18]:
data.index = data.index.map(str.upper)

In [19]:
data.rename(index=str.title, columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [20]:
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [21]:
data.rename(index={'OHIO':'INDIANA'},
            columns={'three':'hodihombatta'})

          one  two  hodihombatta  four
INDIANA     0    1             2     3
COLORADO    4    5             6     7
NEW YORK    8    9            10    11

In [22]:
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [33]:
data.rename(index={'OHIO':'INDIANA'},
            columns={'one':'hodihombattaa'}, inplace=True)

In [34]:
data

          hodihombattaa  two  hodihombatta  four
INDIANA               0    1             2     3
COLORADO              4    5             6     7
NEW YORK              8    9            10    11

In [35]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [37]:
bins = [18, 25, 35, 60, 100]

In [38]:
cats = pd.cut(ages, bins)

In [39]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [43]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [49]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [50]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [51]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [52]:
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [53]:
data = np.random.rand(20)

In [54]:
pd.cut(data, 4, precision=2)

[(0.26, 0.46], (0.26, 0.46], (0.67, 0.87], (0.053, 0.26], (0.053, 0.26], ..., (0.67, 0.87], (0.053, 0.26], (0.053, 0.26], (0.053, 0.26], (0.46, 0.67]]
Length: 20
Categories (4, interval[float64, right]): [(0.053, 0.26] < (0.26, 0.46] < (0.46, 0.67] <
                                           (0.67, 0.87]]

In [55]:
data = np.random.randn(1000) # Normally distributed

In [56]:
cats = pd.qcut(data, 4) # Cut into quartiles

In [57]:
cats

[(0.0648, 0.708], (0.0648, 0.708], (0.708, 3.067], (0.708, 3.067], (0.708, 3.067], ..., (-3.465, -0.603], (-3.465, -0.603], (-0.603, 0.0648], (-0.603, 0.0648], (0.708, 3.067]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.465, -0.603] < (-0.603, 0.0648] < (0.0648, 0.708] <
                                           (0.708, 3.067]]

In [58]:
pd.value_counts(cats)

(-3.465, -0.603]    250
(-0.603, 0.0648]    250
(0.0648, 0.708]     250
(0.708, 3.067]      250
dtype: int64

In [59]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(0.0648, 1.333], (0.0648, 1.333], (1.333, 3.067], (1.333, 3.067], (0.0648, 1.333], ..., (-1.234, 0.0648], (-1.234, 0.0648], (-1.234, 0.0648], (-1.234, 0.0648], (1.333, 3.067]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.465, -1.234] < (-1.234, 0.0648] < (0.0648, 1.333] <
                                           (1.333, 3.067]]

## Detecting and Filtering Outliers

In [60]:
np.random.seed(12345)

In [63]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [73]:
data.head(6)

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570
5 -0.539741  0.476985  3.248944 -1.021228

In [64]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [68]:
col = data[3]

In [69]:
col[np.abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [71]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [74]:
# Here is code to cap values outside the interval -3 to 3:
data[np.abs(data) > 3] = np.sign(data) * 3

In [75]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000

Permutation and Random Sampling

In [76]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [77]:
df.head()

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [79]:
sampler = np.random.permutation(5)
sampler

array([1, 3, 4, 0, 2])

In [81]:
print(df.take(sampler))
print(df)

    0   1   2   3
1   4   5   6   7
3  12  13  14  15
4  16  17  18  19
0   0   1   2   3
2   8   9  10  11
    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [85]:
df.take(np.random.permutation(len(df))[:3])

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11

To generate a sample with replacement, the fastest way is to use np.random.randint to draw random integer

In [86]:
bag = np.array([5, 7, -1, 6, 4])

In [87]:
sampler = np.random.randint(0, len(bag), size=10)
sampler

array([3, 0, 1, 2, 2, 3, 2, 1, 2, 0])

In [89]:
draws = bag.take(sampler)
draws

array([ 6,  5,  7, -1, -1,  6, -1,  7, -1,  5])

In [91]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [92]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

 you may want to add a prefix to the columns in the indicator DataFrame, which can then be merged with the other data.

In [93]:
pd.get_dummies(df['key'], prefix='Key')

   Key_a  Key_b  Key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [94]:
dummies = pd.get_dummies(df['key'], prefix='key')

In [95]:
df_with_dummy = df[['data1']].join(dummies)

In [96]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [97]:
 mnames = ['movie_id', 'title', 'genres']

In [98]:
values = np.random.rand(10)
values

array([0.90953758, 0.38441329, 0.08127486, 0.95663486, 0.04387138,
       0.14476865, 0.11766477, 0.13018305, 0.62275769, 0.08497892])

In [99]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [100]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           0           0           0           1
4           1           0           0           0           0
5           1           0           0           0           0
6           1           0           0           0           0
7           1           0           0           0           0
8           0           0           0           1           0
9           1           0           0           0           0

## String Manipulation

String Object Methods

 a comma-separated string can be broken into pieces with split:

In [101]:
val = 'a,b,  guido'

In [102]:
val.split(',')

['a', 'b', '  guido']

split is often combined with strip to trim whitespace (including newlines):

In [103]:
pieces = [x.strip() for x in val.split(',')]

In [104]:
pieces

['a', 'b', 'guido']

In [105]:
first, second, third = pieces

In [106]:
first + '::' + second + '::' + third

'a::b::guido'

In [108]:
'::'.join(pieces)

'a::b::guido'

In [111]:
'_'.join(pieces)

'a_b_guido'

In [112]:
'guido' in val

True

In [113]:
val.index(',')

1

In [114]:
val.find(':')

-1

**Note**: the difference between find and index is that index raises an exception if the string isn’t found (versus returning -1):

In [115]:
val.index(':')

ValueError: ignored

In [116]:
 val.count(',')

2

In [117]:
 val.replace(',', '::')

'a::b::  guido'

# Regular expressions<br>
Regular expressions provide a flexible way to search or match string patterns in text.
[Zed Shaw’s Learn Regex The Hard Way](http://regex.learncodethehardway.org/book/)

The re module functions fall into three categories: pattern matching, substitution, and splitting.

In [118]:
import re

In [122]:
text  = "foo    bar\t baz    \tqux   \n new line"

In [127]:
text

'foo    bar\t baz    \tqux   \n new line'

 The regex describing one or more whitespace characters is \s+:

In [125]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux', 'new', 'line']

In [129]:
re.split('\t', text)

['foo    bar', ' baz    ', 'qux   \n new line']

You can compile the regex yourself with re.compile, forming a reusable regex object:

In [130]:
regex = re.compile('\s+')

In [131]:
regex.split(text)

['foo', 'bar', 'baz', 'qux', 'new', 'line']

In [132]:
regex.findall(text)

['    ', '\t ', '    \t', '   \n ', ' ']

In [133]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [140]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [141]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

findall returns all matches in a string,

In [142]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [144]:
 m = regex.search(text)
 m

In [145]:
text[m.start():m.end()]

'dave@google.com'

**`regex.match`** returns None, as it only will match if the pattern occurs at the start of the string:

In [147]:
print (regex.match(text))

None

**`sub`** will return a new string with occurrences of the pattern replaced by the a new string:

In [148]:
print( regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

segment each address into its 3 components: username, domain name, and domain suffix. To do this, put parentheses around the parts of the pattern to segment:

In [149]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [150]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [151]:
m = regex.match('wesm@bright.net')

In [152]:
m.groups()

('wesm', 'bright', 'net')

In [153]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

`sub` also has access to groups in each match using special symbols like \1, \2, etc.:

In [154]:
print (regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

In [155]:
regex = re.compile(r"""
	(?P<username>[A-Z0-9._%+-]+)
	@
	(?P<domain>[A-Z0-9.-]+)
	\.
	(?P<suffix>[A-Z]{2,4})""", flags=re.IGNORECASE|re.VERBOSE)

In [159]:
m = regex.match('mgmeti@gmail.com')

In [160]:
m.groupdict()

{'username': 'mgmeti', 'domain': 'gmail', 'suffix': 'com'}

Vectorized string functions in pandas

In [161]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
		'Rob': 'rob@gmail.com', 'Wes': np.nan, 'mallikarjun':'mgmemti@gmail.com', 'kiran':np.nan}

In [162]:
data = pd.Series(data)

In [170]:
data.isnull()

Dave           False
Steve          False
Rob            False
Wes             True
mallikarjun    False
kiran           True
dtype: bool

In [171]:
data.str.contains('gmail')

Dave           False
Steve           True
Rob             True
Wes              NaN
mallikarjun     True
kiran            NaN
dtype: object

In [172]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [173]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave             [(dave, google, com)]
Steve            [(steve, gmail, com)]
Rob                [(rob, gmail, com)]
Wes                                NaN
mallikarjun    [(mgmemti, gmail, com)]
kiran                              NaN
dtype: object

In [177]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [178]:
matches

Dave           True
Steve          True
Rob            True
Wes             NaN
mallikarjun    True
kiran           NaN
dtype: object

In [182]:
matches.str[0]

AttributeError: ignored

In [183]:
data.str[:5]

Dave           dave@
Steve          steve
Rob            rob@g
Wes              NaN
mallikarjun    mgmem
kiran            NaN
dtype: object